<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/cess" href="{{url_for('static', filename='css/stylesheet.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojos</title>
    </head>
    <body>

        <h1> Here is an image of a dojo</h1>
        <img src="/static/images/dojo.jpg">
        
        <p>To have information about dojos sent to you please fill out the form below</p>
        <form action ='' method= 'post'>
            Name: <input type='text' name="name">
            Email: <input type='text' name="email">
            <input type= 'submit' value= 'submit'>
        </form>
    </body>
</html>