<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/cess" href="{{url_for('static', filename='css/stylesheet.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Landing Page(index)</title>
    </head>
    <body>
        <h1>This is the main page of the "Landing Page" assignment</h1>


        <a href ="http://localhost:5000/ninjas">Click here to see ninjas!</a>
    </body>
    </html>