<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/cess" href="{{url_for('static', filename='css/stylesheet.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ninjas!</title>
    </head>
    <body>
        <h1>Here is an image of a ninja</h1>
        <img src='/static/images/ninja.png'>

        <a href= "http://localhost:5000/dojos/news">Click here to see a dojo!</a>
    </body>
</html>